In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/akshay7029/Project_DBDA/main/health_fitness_dataset_P.csv')

In [ ]:
df.head()

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories,Season,Intensity,hours_sleep,Mood
0,0,male,36,189.0,82,26,101.0,41.0,150,Winter,Medium,8.6,Calm
1,1,female,64,163.0,60,8,85.0,39.7,34,Autumn,High,6.5,Sad
2,2,female,51,161.0,64,7,84.0,39.8,29,Winter,Medium,8.0,Calm
3,3,male,20,192.0,90,25,105.0,40.7,140,Spring,Low,6.9,Angry
4,4,female,38,166.0,61,25,102.0,40.6,146,Autumn,High,7.1,Happy

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           750000 non-null  int64
 1   Sex          750000 non-null  object
 2   Age          750000 non-null  int64
 3   Height       750000 non-null  float64
 4   Weight       750000 non-null  int64
 5   Duration     750000 non-null  int64
 6   Heart_Rate   750000 non-null  float64
 7   Body_Temp    750000 non-null  float64
 8   Calories     750000 non-null  int64
 9   Season       750000 non-null  object
 10  Intensity    750000 non-null  object
 11  hours_sleep  740000 non-null  float64
 12  Mood         750000 non-null  object
dtypes: float64(4), int64(5), object(4)
memory usage: 74.4+ MB

In [ ]:
df.isnull().sum()

id                 0
Sex                0
Age                0
Height             0
Weight             0
Duration           0
Heart_Rate         0
Body_Temp          0
Calories           0
Season             0
Intensity          0
hours_sleep    10000
Mood               0
dtype: int64

In [ ]:
df['hours_sleep'] = df['hours_sleep'].interpolate()

In [ ]:
df.isnull().sum()

id             0
Sex            0
Age            0
Height         0
Weight         0
Duration       0
Heart_Rate     0
Body_Temp      0
Calories       0
Season         0
Intensity      0
hours_sleep    0
Mood           0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           750000 non-null  int64
 1   Sex          750000 non-null  object
 2   Age          750000 non-null  int64
 3   Height       750000 non-null  float64
 4   Weight       750000 non-null  int64
 5   Duration     750000 non-null  int64
 6   Heart_Rate   750000 non-null  float64
 7   Body_Temp    750000 non-null  float64
 8   Calories     750000 non-null  int64
 9   Season       750000 non-null  object
 10  Intensity    750000 non-null  object
 11  hours_sleep  750000 non-null  float64
 12  Mood         750000 non-null  object
dtypes: float64(4), int64(5), object(4)
memory usage: 74.4+ MB

In [ ]:
sex_mapping = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(sex_mapping)

In [ ]:
mood_mapping = {'Calm': 3, 'Sad': 2, 'Happy': 4, 'Angry': 0, 'Scared': 1}
df['Mood'] = df['Mood'].map(mood_mapping)

In [ ]:
df = pd.get_dummies(df, columns=['Season', 'Intensity'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                750000 non-null  int64
 1   Sex               750000 non-null  int64
 2   Age               750000 non-null  int64
 3   Height            750000 non-null  float64
 4   Weight            750000 non-null  int64
 5   Duration          750000 non-null  int64
 6   Heart_Rate        750000 non-null  float64
 7   Body_Temp         750000 non-null  float64
 8   Calories          750000 non-null  int64
 9   hours_sleep       750000 non-null  float64
 10  Mood              750000 non-null  int64
 11  Season_Autumn     750000 non-null  bool
 12  Season_Spring     750000 non-null  bool
 13  Season_Summer     750000 non-null  bool
 14  Season_Winter     750000 non-null  bool
 15  Intensity_High    750000 non-null  bool
 16  Intensity_Low     750000 non-null  bool
 17  Intensity_Medium  750000 non-null  bool
dtypes: bool(7), float64(4), int64(7)
memory usage: 67.9 MB

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop('Calories', axis=1)
y = df['Calories']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (525000, 17)
Shape of X_test: (225000, 17)
Shape of y_train: (525000,)
Shape of y_test: (225000,)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# K-Nearest Neighbors Regressor
knn_model = KNeighborsRegressor(n_neighbors=5) # we can adjust n_neighbors here
knn_model.fit(X_train, y_train)
# Train the model
knn_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
y_pred_knn = knn_model.predict(X_test)
mse_knn = mean_squared_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)
print("K-Nearest Neighbors Regressor - Mean Squared Error:", mse_knn)
print("K-Nearest Neighbors Regressor - R-squared:", r2_knn)

K-Nearest Neighbors Regressor - Mean Squared Error: 1292.475387911111
K-Nearest Neighbors Regressor - R-squared: 0.6673053498804391

In [ ]:
# Decision Tree Regressor
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)
y_pred_dt = dt_model.predict(X_test)
mse_dt = mean_squared_error(y_test, y_pred_dt)
r2_dt = r2_score(y_test, y_pred_dt)
print("Decision Tree Regressor - Mean Squared Error:", mse_dt)
print("Decision Tree Regressor - R-squared:", r2_dt)

Decision Tree Regressor - Mean Squared Error: 28.804582222222223
Decision Tree Regressor - R-squared: 0.9925854445710177